.site-footer {
  margin-top: auto;
  padding: 4rem 0 2rem;
  background-color: var(--surface);
  font-size: 0.9rem;

  border-top: 1px solid var(--footer-border);

  i {
    transition:
      transform 0.2s,
      color 0.2s;

    &:hover {
      transform: scale(1.2);
      color: $primary !important;
    }
  }
}
